<div id="contact-bar" class="contact-bar">
	<div class="contact-bar__text">
		<h2 class="contact-bar__title">Lorem Ipsum Dolor</h2>
		<div class="contact-bar__subtitle">Duis aute irure dolor in</div>
	</div>

	<div class="contact-bar__cta">
		{% include 'shared/button.twig' with {
			href: '#',
			label: 'Contact Us',
		}%}
	</div>
</div>
