<div class="decoration-circle">
	<svg
		xmlns="http://www.w3.org/2000/svg"
		xmlns:xlink="http://www.w3.org/1999/xlink"
		width="217.5px" height="217.5px"
		viewBox="0 0 217 217">
		<path
			fill-rule="evenodd"
			stroke-width="25px"
			stroke-linecap="butt"
			stroke-linejoin="miter"
			fill="none"
			d="M102.500,12.500 C152.206,12.500 192.500,52.794 192.500,102.500 C192.500,152.206 152.206,192.500 102.500,192.500 C52.794,192.500 12.500,152.206 12.500,102.500 C12.500,52.794 52.794,12.500 102.500,12.500 Z"
		/>
	</svg>
</div>
