<section class="page-hero" style="
	background-image: url(
		{% if image %}
			{{ image }}
		{% else %}
			{{ theme.link ~ '/dist/images/default.jpg' }}
		{% endif %}
	);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
">
	<div class="page-hero__wrapper">
		<h1>{{ title }}</h1>
	</div>
</section>