<section id="pricing" class="plans">
	<div class="plans__wrapper">
		<div class="plans__box">
			<div class="plans__list">
				{% for item in pricing_plans %}
					{% include 'shared/plan-card.twig' with {
						data: item,
						class: 'plans__card',
						layout: 'basic',
					}%}
				{% endfor %}
			</div>
		</div>
	</div>
</section>
