<section class="content-image">
	<div class="content-image__wrapper">
		<h2>{{ post.get_field('intro_title') }}</h2>
		<div {% if post.get_field('intro_image') %}class="content-image__grid"{% endif %}>
			<div class="content-image-text">
				{{ post.get_field('intro_text') }}
			</div>
			{% if post.get_field('intro_image') %}
				<div class="content-image-photo">
					<img src="{{ post.get_field('intro_image').url }}" alt="{{ post.get_field('intro_image').alt }}">
				</div>
			{% endif %}
		</div>
	</div>
</section>