<section id="faq" class="faq {% if hasBG %} faq-has-bg {% endif %}">
	<div class="faq__wrapper">
		<div class="faq__heading">
			<div class="faq__decoration">
				{% include 'shared/media.twig' with {
					source: theme.link ~ '/src/assets/img/dev/pages/pricing/faq-decoration.svg',
					alt: 'FAQ',
					class: 'faq__decoration-image',
				}%}
			</div>

			<h2 class="faq__title">{{ post.get_field('faq_title') }}</h2>
		</div>

		<div class="faq__accordion accordion">
			{% for item in post.get_field('faqs') %}
				<div class="accordion__item item" data-index="{{ loop.index0 }}">
					<div class="item__header">
						<button class="item__header-button">
							<div class="item__header-decoration">
								{% include 'shared/media.twig' with {
									source: theme.link ~ '/src/assets/img/prod/pages/pricing/faq-question-decoration.svg',
									alt: 'Question',
									class: 'item__header-decoration-icon',
								}%}
							</div>
							<h3 class="item__header-text">{{ item.faq_question }}</h3>
						</button>
					</div>

					<div class="item__content">
						<div class="item__content-wrapper">
							<div class="item__content-decoration">
								{% include 'shared/media.twig' with {
									source: theme.link ~ '/src/assets/img/prod/pages/pricing/faq-answer-decoration.svg',
									alt: 'Answer',
									class: 'item__content-decoration-icon',
								}%}
							</div>
							<div class="item__content-text">{{ item.faq_answer }}</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</section>
