// Colors
$color-primary: #196132;
$color-secondary: #1d932f;
$color-copy: #606060;
$color-gray: #f2f2f2;

// Fonts
$font-primary: 'Helvetica', sans-serif;
$font-secondary: 'Mr Eaves', sans-serif;
$font-tertiary: 'Visby CF', sans-serif;
