// Colors
$color-primary: #01aaeb;
$color-secondary: #48e5ff;
$color-tertiary: #00dfa8;
$color-gray: #757575;

// Fonts
$font-primary: 'Helvetica', sans-serif;
$font-secondary: 'Mr Eaves', sans-serif;
$font-tertiary: 'Visby CF', sans-serif;
