<section id="tradein-form" class="tradein-form">
    <div class="tradein-form__wrapper">
		<div class="tradein-form__intro">
			{{ post.get_field('form_intro') }}
		</div>
		<div class="tradein-form__form">
			{{ function('do_shortcode', post.get_field('form_code')) }}
		</div>
    </div>
</section>
