{% block html_head_container %}

	{% include 'layout/html-head.twig' %}

{% endblock %}

	<body class="{{ body_class }}">

		{% include 'layout/header.twig' %}

		<main id="main" role="main" class="main" data-template="{{ template }}">

			{% block content %}{% endblock %}

		</main>

		{% include 'layout/footer.twig' %}

		{% include 'shared/scripts.twig' %}

		{{ wp_footer }}
	</body>
</html>
