.page--listings-archive .listings-grid {
	padding: rem-calc(40) 0;

	@include media('>phone') {
		padding: rem-calc(60) 0;
	}
	
	&__wrapper {
		@extend %container;

		h2 {
			text-transform: uppercase;
		}
	}

	&__intro {
		text-align: center;
		margin: 0 auto;
		margin-bottom: rem-calc(20);

		@include media('>phone') {
			width: 80%;
			margin-bottom: rem-calc(50);
		}
	}

	&__archive {

		@include media('>phone') {
			display: flex;
			flex-wrap: wrap;
		}

		&--item {
			text-align: center;
			margin-bottom: rem-calc(20);

			@include media('>phone') {
				margin: 0 rem-calc(10);
				width: 25%;
			}

			> a {
				display: block;
				position: relative;
				width: 100%;
				height: rem-calc(250);
				overflow: hidden;

				span {
					display: block;
					background: $color-primary;
					font-weight: 700;
					font-size: rem-calc(20);
					color: white;
					padding: rem-calc(5);
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					width: 100%;
					text-align: center;
					z-index: 1;
				}
			}

			img {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translateX(-50%) translateY(-50%);
				transition: all .3s;
				height: rem-calc(250);
				object-fit: cover;

				&:hover {
					transform: translateX(-50%) translateY(-50%) scale(1.2);
				}
			}

			h3 {
				text-transform: uppercase;
				margin-bottom: rem-calc(10);
			}

			ul {
				list-style: none;
			}
		}
	}
}

