.page--catalog .archive {

	.error {
		text-align: center;
		padding: rem-calc(30) rem-calc(15);
		color: lighten($color-copy, 20%);
		width: 100%;
		font-size: rem-calc(20);
		font-style: italic;
	}

	&__wrapper {
		position: relative;
		padding-top: rem-calc(50);
	}

	&__filters {

		&--taxonomies {
			@extend %container;

			display: flex;
	
			@include media('>phone') {
				width: 80%;
				padding: 0;
			}
	
			@include media('>tablet') {
				flex-wrap: nowrap;
				max-width: rem-calc(1100);
			}

			&-filter {
				font-size: rem-calc(12);
				position: relative;

				@include media('>tablet') {
					font-size: rem-calc(16);
				}
			}
		}

		&--terms {
			overflow: scroll;
			max-height: 0;
			transition: all .5s;
			position: absolute;
			top: 100%;
			left: 0;
			background: white;
			width: 100%;
			right: 0;
			z-index: 2;

			li {
				padding: rem-calc(5);
				text-align: left;

				&:hover {
					background: $color-gray;
				}

				@include media('>phone') {
					padding: rem-calc(5) rem-calc(10);
				}
			}
		}
	}

	.taxonomy-wrapper {
		pointer-events: none;
		display: flex;
		justify-content: center;
		text-align: center;
		border: 1px solid $color-gray;
		padding: rem-calc(15) 0;
		width: 100%;
	}

	.filter-label {
		width: rem-calc(60);
		display: flex;

		@include media('>phone') {
			width: rem-calc(200);
		}
	}

	.filter-button {
		display: block;

		&.displayed .archive__filters--terms {
			max-height: rem-calc(200);

			@include media('>phone') {
				max-height: rem-calc(300);
			}
		}

		&__text {
			position: relative;
			padding-right: rem-calc(10);
			display: inline-block;

			span {
				display: none;

				@include media('>phone') {
					display: inline-block;
				}
			}
		}
	}

	&__posts {
		transition: all .5s;
		opacity: 1;

		@include media('>tablet') {
			max-width: rem-calc(1920);
			margin: 0 auto;
			width: 95%;
		}

		&.faded {
			opacity: 0.5;
			
			.more-posts::after {
				display: block;
			}
		}

		&--wrapper {
			width: 100%;

			@include media('>phone') {
				display: flex;
				flex-wrap: wrap;
			}
		}

		&--button {
			text-align: center;
			padding: rem-calc(30) rem-calc(12);
		}
	}

	.card {
		position: relative;
		padding: rem-calc(25) rem-calc(12) 0 rem-calc(12);
		display: block;

		@include media('>phone') {
			width: 25%;
			padding: rem-calc(25) rem-calc(12);
		}

		@include media('>tablet') {
			padding: rem-calc(40) rem-calc(25);
		}

		&__wrapper {
			margin-bottom: rem-calc(10);
		}

		&__image {
			width: 100%;
			height: 50vw;
			object-fit: cover;

			@include media('>phone') {
				height: 20vw;
				max-height: rem-calc(320);
			}
		}
	}

	.more-posts {
		display: inline-block;
		width: 100%;
		text-align: center;
		position: relative;
		max-width: rem-calc(430);
		margin: 0 auto;

		&::after {
			content: '';
			position: absolute;
			display: none;
			top: 50%;
			margin-top: rem-calc(-7);
			right: rem-calc(12);
			width: rem-calc(12);
			height: rem-calc(12);
			border: 2px solid $color-primary;
			border-radius: 100px;
			border-top: 2px solid white;
			animation: spin 1s linear infinite;

			@include media('>tablet') {
				margin-top: rem-calc(-13);
				right: rem-calc(24);
				width: rem-calc(24);
				height: rem-calc(24);
			}
		}

		&.disabled {
			opacity: 0;
			pointer-events: none;
		}
	}
}

@keyframes spin {

	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(359deg);
	}
}
