<section id="percent" class="percent">
	<div class="percent__wrapper">
		<div class="percent__col percent__col--one">
			<div class="percent__col--wrapper">
				<picture class="percent__featured-image">
					{% include 'shared/media.twig' with {
						source: theme.link ~ '/src/assets/img/dev/pages/solutions/social-proof-img.png',
						alt: 'Digital portfolios',
						class: 'percent__featured-img',
					}%}
				</picture>
			</div>
		</div>
		<div class="percent__col percent__col--two">
			<div class="percent__col--wrapper">
				<div class="percent__content">
					{{ post.get_field('percentage_content') }}
				</div>
				<div class="percent__callout">
					<span>{{ post.get_field('percentage') }}</span>
				</div>
			</div>
		</div>
	</div>
</section>