<section class="intro">
	<div class="intro__wrapper">
		<p><strong>Our models are OPEN and our office is fully staffed!  Appointments are recommended (but not required) in order to make sure we have a sales consultant available to help you.  We look forward to seeing you soon!</strong></p>
		<div class="intro__grid">

			{% for item in post.get_field('intro_links') %}
				<a href="{{ item.link_url }}" class="intro__grid--item">
					<img src="{{ item.link_icon.url }}" alt="{{ item.link_icon.alt }}" class="intro__grid--icon">
					<span class="h-two">{{ item.link_title }}</span>
				</a>
			{% endfor %}

		</div>
	</div>
</section>