<section class="signup">
	<div class="signup__wrapper">
		<div class="signup__content">
			<h3>Stay Updated on our Latest Listings and Deals</h3>
			<p>If you're searching for manufactured homes for sale, it's important to stay in the know. We'll keep you updated on our latest listings and best deals!</p>
		</div>
		<div class="signup__form">
		</div>
	</div>
</section>