<section class="signup">
	<div class="signup__wrapper">
		<div class="signup__content">
			<h3>{{ post.get_field('signup_title') }}</h3>
			{{ post.get_field('signup_text') }}
		</div>
		<div class="signup__form">
			{{ post.get_field('signup_form') }}
		</div>
	</div>
</section>