.page--default .default-content {
	padding: rem-calc(40) 0;
	border-top: 10px solid $color-gray;

	@include media('>phone') {
		padding: rem-calc(80) 0;
	}

	&__wrapper {
		@extend %container;
		
		padding: 0 rem-calc(15);
		max-width: rem-calc(1000);

		@include media('>phone') {
			padding: 0 rem-calc(30);
		}
	}

	.date {
		margin-bottom: rem-calc(50);
		font-weight: 700;
	}
}

.social-share {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 2;

	@include media('>phone') {
		right: auto;
		top: 50%;
		transform: translateY(-50%);
		width: rem-calc(40);
		height: rem-calc(120);
	}

	&.visible {

		.social-share__menu {
			max-height: 200px;
		}

		.social-share__toggle--text::after {
			transform: rotate(135deg) translateY(0);
		}
	}

	&__toggle {
		background: rgba(0, 0, 0, .85);
		text-align: center;
		position: relative;
		font-size: rem-calc(15);
		cursor: pointer;

		@include media('>phone') {
			display: none;
		}

		&--text {
			color: white;
			padding: rem-calc(10);
			position: relative;
			display: inline-block;

			&::after {
				content: '';
				position: absolute;
				display: block;
				border-left: 2px solid white;
				border-bottom: 2px solid white;
				width: rem-calc(7);
				height: rem-calc(7);
				transform: rotate(-45deg) translateY(-100%);
				transition: all .2s;
				top: 50%;
				right: rem-calc(-15);
			}
		}

		&--close {
			position: absolute;
			color: white;
			right: 0;
			top: 0;
			padding: rem-calc(10);
			font-size: rem-calc(15);
			display: block;
			line-height: rem-calc(27);
		}
	}

	&__menu {
		background: white;
		overflow: hidden;
		max-height: 0;
		transition: all .3s;
		padding: 0 rem-calc(15);

		@include media('>phone') {
			max-height: none;
			padding: 0;
		}

		&--item {
			display: block;
			width: 100%;
			border-radius: 5px;
			color: white;
			padding: rem-calc(10);
			padding-left: rem-calc(40);
			position: relative;
			margin: rem-calc(8) 0;

			@include media('>phone') {
				width: rem-calc(40);
				border-radius: 0;
				padding-left: 0;
				margin: 0;
				height: rem-calc(40);
			}

			span {

				@include media('>phone') {
					display: none;
				}
			}
		}

		.facebook-button {
			background: #3A579A;
			margin-top: rem-calc(15);

			@include media('>phone') {
				margin: 0;
			}

			&::before {
				content: '';
				width: rem-calc(40);
				height: rem-calc(40);
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				background-position: center center;
				background-repeat: no-repeat;
				background-size: 50%;
				background-image: url('../../dist/images/facebook-white.svg');
			}
		}

		.twitter-button {
			background: #00ABF0;

			&::before {
				content: '';
				width: rem-calc(40);
				height: rem-calc(40);
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				background-position: center center;
				background-repeat: no-repeat;
				background-size: 50%;
				background-image: url('../../dist/images/twitter-white.svg');
			}
		}

		.gmail-button {
			background: #DD4B39;
			margin-bottom: rem-calc(15);

			@include media('>phone') {
				margin: 0;
			}

			&::before {
				content: '';
				width: rem-calc(40);
				height: rem-calc(40);
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				background-position: center center;
				background-repeat: no-repeat;
				background-size: 50%;
				background-image: url('../../dist/images/mail-white.svg');
			}
		}
	}
}
