.site-header {
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	z-index: 3;
}

.top-nav {
	background: $color-gray;
	padding: rem-calc(10) 0;
	position: fixed;
	width: 100%;
	z-index: 1;

	&__wrapper {
		@extend %container;

		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		@include media('>phone') {
			justify-content: flex-start;
		}
	}

	&__link {

		&--phone,
		&--email {
			display: block;
			color: $color-copy;
			padding-left: rem-calc(15);
			position: relative;

			@include media('>phone') {
				margin-right: rem-calc(20);
			}
		}

		&--phone::before {
			content: '';
			background-image: url('../../dist/images/telephone.svg');
			background-size: contain;
			background-position: center center;
			background-repeat: no-repeat;
			width: rem-calc(12);
			height: rem-calc(12);
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
		}

		&--email::before {
			content: '';
			background-image: url('../../dist/images/mail.svg');
			background-size: contain;
			background-position: center center;
			background-repeat: no-repeat;
			width: rem-calc(12);
			height: rem-calc(12);
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
		}
	}
}

.main-nav {
	@extend %container;

	position: absolute;
	right: 0;
	left: 0;
	top: rem-calc(90);
	padding: rem-calc(8) 10%;
	transition: all .4s;

	@include media('>tablet') {
		top: rem-calc(70);
	}

	&::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		right: 0;
		left: 0;
		top: 0;
		background: white;
		opacity: .95;
		box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.4);
	}

	&.fixed {
		position: fixed;
		width: 100%;
		left: 0;
		right: 0;
		margin: 0 auto;
	}

	&__wrapper {
		display: flex;
		position: relative;
		justify-content: space-between;
	}

	&__logo {
		width: rem-calc(60);
		flex-shrink: 0;
		display: flex;

		@include media('>tablet') {
			width: rem-calc(120);
		}

		&--link {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	&__list {
		display: block;
		max-height: 0;
		transition: all .4s;
		position: absolute;
		top: calc(100% + 7px);
		left: 0;
		right: 0;
		width: 100%;
		overflow: scroll;
		background: white;

		@include media('>tablet') {
			display: flex;
			justify-content: flex-end;
			max-height: none;
			position: static;
			overflow: visible;
			background: transparent;
		}

		&.mobile-visible {
			max-height: 90vh;
		}

		li {
			display: flex;
			justify-content: center;
			position: relative;
		}

		&--item {
			display: block;
			padding: rem-calc(10);
			padding-bottom: 0;
			border-bottom: 1px solid $color-gray;
			width: 100%;
			color: $color-primary;

			@include media('>tablet') {
				display: flex;
				align-items: center;
				text-decoration: none;
				padding: 0 rem-calc(15);
				text-transform: uppercase;
				font-family: $heading-copy;
				font-weight: 600;
				border-bottom: 0;
				width: auto;
			}

			&.has-submenu {
				background: $color-gray;

				@include media('>tablet') {
					position: relative;
					padding-right: rem-calc(22);
					cursor: pointer;
					background: transparent;
				}

				&::after {

					@include media('>tablet') {
						content: '';
						transition: all .2s;
						display: block;
						width: rem-calc(5);
						height: rem-calc(5);
						border-bottom: 2px solid $color-primary;
						border-right: 2px solid $color-primary;
						transform: rotate(45deg) translateY(-8px);
						position: absolute;
						right: rem-calc(12);
						top: 50%;
					}
				}

				&:hover {
					.main-nav__list--item--submenu {

						@include media('>tablet') {
							max-height: rem-calc(350);
						}
					}
				}
			}

			&--submenu {
				border-bottom: 1px solid $color-gray;
				background: white;

				@include media('>tablet') {
					max-height: 0;
					overflow: scroll;
					width: rem-calc(250);
					transition: all .5s;
					position: absolute;
					top: calc(100% + 7px);
					left: 0;
					padding: 0;
					border-bottom: 0;
				}

				li:first-of-type a {

					@include media('>tablet') {
						border-top: 2px solid $color-copy;
					}
				}

				a {
					display: block;
					width: 100%;
					text-decoration: none;
					padding: rem-calc(10) rem-calc(10) rem-calc(10) rem-calc(20);
					color: $color-primary;

					&:hover {
						background: $color-gray;
					}
				}
			}
		}
	}

}

.mobile-nav {
	display: flex;
	padding: rem-calc(15);
	cursor: pointer;

	@include media('>tablet') {
		display: none;
	}

	span {
		display: flex;
		align-items: center;
		height: rem-calc(22);
		width: rem-calc(22);
		border-top: 2px solid $color-primary;
		border-bottom: 2px solid $color-primary;

		&::before {
			content: '';
			height: 2px;
			width: 100%;
			background: $color-primary;
		}
	}
}