<section id="contact-serving" class="contact-serving">
    <div class="contact-serving__wrapper">
		<h2>{{ post.get_field('columns_title') }}</h2>
		<div class="contact-serving__grid">
			<div class="contact-serving__column">
				{{ post.get_field('left_column') }}
			</div>
			<div class="contact-serving__column">
				{{ post.get_field('right_column') }}
			</div>
		</div>
    </div>
</section>
