{% extends 'base.twig' %}

{% set template = 'about' %}

{% block content %}
	<div id="about" class="page page--about">
		{% include 'shared/page-hero.twig' with {
			title: post.title,
			image: post.thumbnail.src
		}%}
		{% include 'shared/content-image.twig' with {
			title: post.get_field('intro_title'),
			image: post.get_field('intro_image'),
			text: post.get_field('intro_text'),
		}%}
		{% include 'pages/about/team.twig' %}
		{% include 'shared/testimonials.twig' %}
	</div>
{% endblock %}
