{% extends 'base.twig' %}

{% set template = 'archive' %}

{% block content %}
	<div id="archive" class="page page--archive">
		{% include 'shared/page-hero.twig' with {
			title: post.title,
			image: post.thumbnail.src
		}%}
		{% include 'pages/archive/grid.twig' %}
	</div>
{% endblock %}
