{% extends 'base.twig' %}

{% set template = 'catalog' %}

{% block content %}
	<div id="catalog" class="page page--catalog">
		{% include 'pages/catalog/hero.twig' %}
		{% include 'shared/contact-bar.twig' %}
		{% include 'pages/catalog/archive.twig' %}
	</div>
{% endblock %}