{% extends 'base.twig' %}

{% block content %}
	<div id="default" class="page page--default">

		<section class="default-content">
			<div class="default-content__wrapper">
				{{ post.content }}
			</div>
		</section>
	</div>
{% endblock %}
