{% extends "base.twig" %}

{% set template = 'default' %}

{% block content %}
	<div class="default">
		<article id="post-{{post.ID}}" class="post-type__{{post.post_type}}">
			<section class="default__article">
				<h1 class="default__heading">
					{{post.title}}
				</h1>
				<div class="default__body">
					{{post.content}}
				</div>
			</section>
		</article>
	</div>
{% endblock %}
