{% extends 'base.twig' %}

{% set template = 'financing' %}

{% block content %}
	<div id="financing" class="page page--financing">
		{% include 'shared/page-hero.twig' with {
			title: post.title,
			image: post.thumbnail.src
		}%}
		{% include 'shared/content-image.twig' with {
			title: post.get_field('intro_title'),
			image: post.get_field('intro_image'),
			text: post.get_field('intro_text'),
		}%}
		{% include 'shared/page-builder.twig' with {
			layouts: post.get_field('content_blocks'),
		}%}
		{% include 'pages/financing/cta.twig' %}
		{% include 'shared/testimonials.twig' %}
	</div>
{% endblock %}
