{% extends 'base.twig' %}

{% set template = 'generic' %}

{% block content %}
	<div id="generic" class="page page--generic">
		{% include 'pages/generic/hero.twig' %}
		{% include 'pages/generic/image-text.twig' %}
		{% include 'pages/generic/text-image.twig' %}
		{% include 'pages/generic/centered.twig' %}
		{% include 'pages/generic/media-gallery.twig' %}
		{% include 'sections/faq.twig' with {
			hasBG: true,
		}%}
		{% include 'pages/generic/table.twig' %}
		{% include 'pages/generic/form.twig' %}
	</div>
{% endblock %}
