{% extends 'base.twig' %}

{% set template = 'home' %}

{% block content %}
	<div id="home" class="page page--home">
		{% include 'pages/home/hero.twig' %}
		{% include 'pages/home/partners.twig'%}
		{% include 'pages/home/portfolio-types.twig'%}
		{% include 'sections/remote-learning.twig' %}
		{% include 'pages/home/news.twig'%}
		{% include 'sections/case-studies.twig' %}
		{% include 'pages/home/plans.twig' %}
	</div>
{% endblock %}
