{% extends 'base.twig' %}

{% set template = 'home' %}

{% block content %}
	<div id="home" class="page page--home">
		{% include 'pages/home/hero.twig' %}
		{% include 'pages/home/intro.twig' %}
		{% include 'pages/home/signup.twig' %}
		{% include 'shared/testimonials.twig' %}
	</div>
{% endblock %}
