{% extends 'base.twig' %}

{% set template = 'listing' %}

{% block content %}
	<div id="listing" class="page page--listing">
		{% include 'shared/page-hero.twig' with {
			title: post.title,
			image: post.thumbnail.src
		}%}

		{% include 'pages/listing/display.twig' %}
		{% include 'pages/listing/sidebar.twig' %}
	</div>
{% endblock %}
