{% extends 'base.twig' %}

{% set template = 'not-found' %}

{% block content %}
    <div class="not-found">
        <header class="not-found__header">
            <h1 class="not-found__header-title">
            	404 Page Not Found
            </h1>

            <p class="not-found__heade-description">
                Please try another URL.
            </p>

            <a class="not-found__button" href="/">
            	<span class="not-found__button-text">Return Home</span>
            </a>
        </header>
    </div>
{% endblock %}
