{% extends 'base.twig' %}

{% set template = 'pdfs' %}

{% block content %}
	<div id="pdfs" class="page page--pdfs">
		{% include 'shared/page-hero.twig' with {
			title: post.title,
			image: post.thumbnail.src
		}%}

		<section class="pdf-intro">
			<div class="pdf-intro__wrapper">
				{{ post.get_field('intro_text') }}
			</div>
		</section>

		{% include 'pages/pdfs/pdf-lists.twig' %}
		{% include 'shared/testimonials.twig' %}
	</div>
{% endblock %}
