{% extends 'base.twig' %}

{% set template = 'solutions' %}

{% block content %}
	<div id="solutions" class="page page--solutions">
		{% include 'pages/solutions/hero.twig' %}
		{% include 'shared/contact-bar.twig' %}
		{% include 'pages/solutions/benefits.twig' %}
		{% include 'pages/solutions/features.twig' %}
		{% include 'pages/solutions/learning.twig' %}
		{% include 'pages/solutions/mobile.twig' %}
		{% include 'pages/solutions/portfolio.twig' %}
		{% include 'pages/solutions/percent.twig' %}
		{% include 'shared/resource-center.twig' %}
	</div>
{% endblock %}
