@font-face {
	font-family: 'Helvetica';
	src: url('../../src/assets/fonts/helvetica/Helvetica.woff2') format('woff2'),
		url('../../src/assets/fonts/helvetica/Helvetica.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

