.ph-button,
button[type=submit],
input[type=submit] {
	border-radius: 5px;
	background: $color-primary;
	letter-spacing: rem-calc(1);
	font-size: rem-calc(18);
	padding: rem-calc(15) rem-calc(20);
	transition: all .2s;
	color: white;
	font-family: $body-copy;

	&:hover {
		background: $color-secondary;
	}
}
