.page--listing .listing-sidebar {

	&__wrapper {
		@extend %container;

		@include media('>desktop-small') {
			display: flex;
			justify-content: space-between;
			max-width: rem-calc(1500);
		}
	}

	&__content {
		margin-bottom: rem-calc(20);

		@include media('>desktop-small') {
			margin-right: rem-calc(50);
			width: 100%;
		}

		h3 {
			font-size: rem-calc(24);
		}

		&--blocks {

			@include media('>phone') {
				display: flex;
				justify-content: space-between;
			}
		}

		&--block {
			margin-bottom: rem-calc(15);
			background: $color-gray;
			padding: rem-calc(15);
			text-align: center;

			@include media('>phone') {
				width: 30%;
			}

			h4 {
				font-size: rem-calc(18);
				font-weight: 600;
			}

			p {
				margin-bottom: 0;
			}
		}

		&--tabs {

		}

		&--tab {
			display: inline-block;
			padding: rem-calc(15) rem-calc(18);

			&:hover {
				background: $color-gray;
			}

			&.selected {
				background: $color-gray;
			}
		}

		&--tab-content {
			border: 1px solid $color-gray;
			padding: rem-calc(30);
			display: none;

			&.selected {
				display: block;
			}
		}
	}

	&__price {
		font-size: rem-calc(18);
		color: $color-primary;
	}

	&__floorplan {
		width: 100%;
		height: auto;
		max-height: rem-calc(400);
		object-fit: contain;
		object-position: left;
		margin-bottom: rem-calc(20);
	}

	&__aside {
		margin-bottom: rem-calc(30);

		@include media('>desktop-small') {
			width: rem-calc(400);
			flex-shrink: 0;
		}

		&__form {
			box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.2);
			padding: rem-calc(15);

			@include media('>phone') {
				padding: rem-calc(30);
			}

			@include media('>desktop-small') {
				width: rem-calc(400);
				max-height: calc(100vh - 170px);
				overflow: scroll;
			}

			h3 {
				font-size: rem-calc(24);
				padding-bottom: rem-calc(10);
				border-bottom: 1px solid $color-gray;
				margin-bottom: rem-calc(15);
			}
		}
		
		&__wrapper {

			&.fixed {
				position: fixed;
			}

			.frm_fields_container {
				display: block;
			}
	
			.frm_primary_label {
				display: block;
			}
	
			.frm_form_field {
				width: 100%;
				margin-bottom: rem-calc(10);
		
				input {
					border-radius: 0;
					background: $color-gray;
				}
	
				input[type=radio] {
					appearance: radio;
					border-radius: initial;
					width: auto;
					position: relative;
					top: -1px;
					margin-right: rem-calc(8);
				}
	
				select {
					margin: 0;
					width: 100%;
					appearance: none;
					background: $color-gray;
					border: 0;
					padding: rem-calc(7) rem-calc(10);
					border-radius: 0;
				}
	
				textarea {
					width: 100%;
					border: 0;
					padding: rem-calc(7) rem-calc(10);
					background: $color-gray;
				}
			}
		
			.frm_submit {
				margin: 0 auto;
				margin-top: rem-calc(15);
	
				button {
					width: 100%;
					font-size: rem-calc(18);
					text-transform: none;
					font-weight: 400;
					letter-spacing: unset;
					padding: rem-calc(15) rem-calc(20);
					text-align: center;
				}
			}
		}
	}
}