<section id="hero" class="hero">
	<div class="hero__wrapper">
		<div class="hero__col hero__col--one">
			<div class="hero__col-wrapper">
				<picture class="hero__featured-image">
					{% include 'shared/media.twig' with {
						source: featured.thumbnail.src,
						alt: featured.title,
						class: 'hero__featured-img',
					}%}
				</picture>
			</div>
		</div>

		<div class="hero__col hero__col--two">
			<div class="hero__col-wrapper">
				<span class="hero__date">{{ featured.date }}</span>
				<header class="hero__heading">
					<div class="hero__decoration">
						{% include 'shared/media.twig' with {
							source: theme.link ~ '/src/assets/img/dev/pages/catalog/featured-decoration.svg',
							alt: 'bulb',
							class: 'hero__decoration--img',
						}%}
					</div>
					<h1 class="hero__title">{{ featured.title }}</h1>
					<p>{{ featured_excerpt }}</p>
					{% include 'shared/button.twig' with {
						href: featured.link,
						label: 'Full Article',
						style: 'primary-border',
						size: 'large',
					}%}
				</header>
			</div>
		</div>
	</div>
</section>
