<div class="ecosystem-graphic">
	<svg width="916px" height="904px" viewBox="0 0 916 904" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<title>bulb-ecosystem</title>
		<defs>
			<circle id="path-1" cx="452.65" cy="371.45" r="162.15"></circle>
			<filter x="-17.1%" y="-10.6%" width="134.2%" height="134.2%" filterUnits="objectBoundingBox" id="filter-2">
				<feOffset dx="0" dy="21" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
				<feGaussianBlur stdDeviation="15" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
				<feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.0746011801 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
			</filter>
			<polygon id="path-3" points="74.2642863 155.499401 190.24879 25.0449747 323.327151 117.219416 344.571634 360.044975 26.8764738 206.979188"></polygon>
			<polygon id="path-5" points="28.1832591 121.563526 144.167763 -8.8909003 277.246123 83.283541 298.490607 326.1091 -19.2045534 173.043313"></polygon>
			<polygon id="path-7" points="74.2642863 155.499401 190.24879 25.0449747 323.327151 117.219416 344.571634 360.044975 26.8764738 206.979188"></polygon>
			<polygon id="path-9" points="28.1832591 121.563526 144.167763 -8.8909003 277.246123 83.283541 298.490607 326.1091 -19.2045534 173.043313"></polygon>
			<polygon id="path-11" points="74.2642863 155.499401 190.24879 25.0449747 323.327151 117.219416 344.571634 360.044975 26.8764738 206.979188"></polygon>
			<polygon id="path-13" points="28.1832591 121.563526 144.167763 -8.8909003 277.246123 83.283541 298.490607 326.1091 -19.2045534 173.043313"></polygon>
			<polygon id="path-15" points="74.2642863 155.499401 190.24879 25.0449747 323.327151 117.219416 344.571634 360.044975 26.8764738 206.979188"></polygon>
			<polygon id="path-17" points="28.1832591 121.563526 144.167763 -8.8909003 277.246123 83.283541 298.490607 326.1091 -19.2045534 173.043313"></polygon>
			<filter x="-134.4%" y="-134.4%" width="366.7%" height="366.7%" filterUnits="objectBoundingBox" id="filter-19">
				<feOffset dx="0" dy="8" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
				<feGaussianBlur stdDeviation="12.5" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
				<feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.194301792 0" type="matrix" in="shadowBlurOuter1" result="shadowMatrixOuter1"></feColorMatrix>
				<feMerge>
					<feMergeNode in="shadowMatrixOuter1"></feMergeNode>
					<feMergeNode in="SourceGraphic"></feMergeNode>
				</feMerge>
			</filter>
			<filter x="-134.4%" y="-134.4%" width="366.7%" height="366.7%" filterUnits="objectBoundingBox" id="filter-20">
				<feOffset dx="0" dy="8" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
				<feGaussianBlur stdDeviation="12.5" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
				<feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.194301792 0" type="matrix" in="shadowBlurOuter1" result="shadowMatrixOuter1"></feColorMatrix>
				<feMerge>
					<feMergeNode in="shadowMatrixOuter1"></feMergeNode>
					<feMergeNode in="SourceGraphic"></feMergeNode>
				</feMerge>
			</filter>
			<filter x="-134.4%" y="-134.4%" width="366.7%" height="366.7%" filterUnits="objectBoundingBox" id="filter-21">
				<feOffset dx="0" dy="8" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
				<feGaussianBlur stdDeviation="12.5" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
				<feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.194301792 0" type="matrix" in="shadowBlurOuter1" result="shadowMatrixOuter1"></feColorMatrix>
				<feMerge>
					<feMergeNode in="shadowMatrixOuter1"></feMergeNode>
					<feMergeNode in="SourceGraphic"></feMergeNode>
				</feMerge>
			</filter>
			<filter x="-134.4%" y="-134.4%" width="366.7%" height="366.7%" filterUnits="objectBoundingBox" id="filter-22">
				<feOffset dx="0" dy="8" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
				<feGaussianBlur stdDeviation="12.5" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
				<feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.194301792 0" type="matrix" in="shadowBlurOuter1" result="shadowMatrixOuter1"></feColorMatrix>
				<feMerge>
					<feMergeNode in="shadowMatrixOuter1"></feMergeNode>
					<feMergeNode in="SourceGraphic"></feMergeNode>
				</feMerge>
			</filter>
		</defs>
		<g id="Desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
			<g id="Bulb_Portfolio-Detail-2" transform="translate(-960.000000, -3174.000000)">
				<g id="Connections" transform="translate(-72.000000, 3056.000000)">
					<g id="bulb-ecosystem" transform="translate(1039.000000, 200.000000)">
						<g id="Group-9">
							<circle id="Oval" stroke="#D5D5E1" stroke-width="1.15" cx="451.5" cy="370.3" r="205.85"></circle>
							<circle id="Oval" stroke="#D5D5E1" stroke-width="1.15" opacity="0.5" cx="451.5" cy="370.3" r="244.95"></circle>
							<g id="Oval">
								<use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use>
								<use fill="#FEFFFF" fill-rule="evenodd" xlink:href="#path-1"></use>
							</g>
							<g id="Group" transform="translate(484.000000, 335.000000)">
								<g id="Oval" transform="translate(209.067336, 202.322065) rotate(-95.000000) translate(-209.067336, -202.322065) translate(23.067336, 9.322065)">
									<mask id="mask-4" fill="white">
										<use xlink:href="#path-3"></use>
									</mask>
									<use id="Mask" fill="#D8D8D8" opacity="0" transform="translate(185.724054, 192.544975) rotate(10.000000) translate(-185.724054, -192.544975) " xlink:href="#path-3"></use>
									<mask id="mask-6" fill="white">
										<use xlink:href="#path-5"></use>
									</mask>
									<use id="Mask" fill="#D8D8D8" opacity="0" transform="translate(139.643027, 158.609100) rotate(26.000000) translate(-139.643027, -158.609100) " xlink:href="#path-5"></use>
									<circle stroke="#EF315B" stroke-width="39.1" mask="url(#mask-6)" cx="373" cy="-34.1" r="225.4"></circle>
								</g>
							</g>
							<line x1="583.358088" y1="667.211885" x2="519" y2="542" id="Path-13" stroke="#AAAAB4" stroke-width="1.15" stroke-dasharray="9.199999999999999"></line>
							<line x1="761.191492" y1="427" x2="626" y2="466.284095" id="Path-13" stroke="#AAAAB4" stroke-width="1.15" stroke-dasharray="9.199999999999999" transform="translate(693.595746, 446.642048) scale(1, -1) translate(-693.595746, -446.642048) "></line>
							<g id="Group" transform="translate(209.000000, 537.500000) scale(-1, 1) translate(-209.000000, -537.500000) translate(0.000000, 335.000000)">
								<g id="Oval" transform="translate(209.067336, 202.322065) rotate(-95.000000) translate(-209.067336, -202.322065) translate(23.067336, 9.322065)">
									<mask id="mask-8" fill="white">
										<use xlink:href="#path-7"></use>
									</mask>
									<use id="Mask" fill="#D8D8D8" opacity="0" transform="translate(185.724054, 192.544975) rotate(10.000000) translate(-185.724054, -192.544975) " xlink:href="#path-7"></use>
									<mask id="mask-10" fill="white">
										<use xlink:href="#path-9"></use>
									</mask>
									<use id="Mask" fill="#D8D8D8" opacity="0" transform="translate(139.643027, 158.609100) rotate(26.000000) translate(-139.643027, -158.609100) " xlink:href="#path-9"></use>
									<circle stroke="#1FABE4" stroke-width="39.1" mask="url(#mask-10)" cx="373" cy="-34.1" r="225.4"></circle>
								</g>
							</g>
							<line x1="275.191492" y1="427" x2="140" y2="466.284095" id="Path-13" stroke="#AAAAB4" stroke-width="1.15" stroke-dasharray="9.199999999999999" transform="translate(207.595746, 446.642048) scale(-1, -1) translate(-207.595746, -446.642048) "></line>
							<line x1="383.358088" y1="667.211885" x2="319" y2="542" id="Path-13" stroke="#AAAAB4" stroke-width="1.15" stroke-dasharray="9.199999999999999" transform="translate(351.179044, 604.605942) scale(-1, 1) translate(-351.179044, -604.605942) "></line>
							<g id="Group" transform="translate(210.000000, 202.500000) scale(-1, -1) translate(-210.000000, -202.500000) translate(1.000000, 0.000000)">
								<g id="Oval" transform="translate(209.067336, 202.322065) rotate(-95.000000) translate(-209.067336, -202.322065) translate(23.067336, 9.322065)">
									<mask id="mask-12" fill="white">
										<use xlink:href="#path-11"></use>
									</mask>
									<use id="Mask" fill="#D8D8D8" opacity="0" transform="translate(185.724054, 192.544975) rotate(10.000000) translate(-185.724054, -192.544975) " xlink:href="#path-11"></use>
									<mask id="mask-14" fill="white">
										<use xlink:href="#path-13"></use>
									</mask>
									<use id="Mask" fill="#D8D8D8" opacity="0" transform="translate(139.643027, 158.609100) rotate(26.000000) translate(-139.643027, -158.609100) " xlink:href="#path-13"></use>
									<circle stroke="#EC8008" stroke-width="39.1" mask="url(#mask-14)" cx="373" cy="-34.1" r="225.4"></circle>
								</g>
							</g>
							<line x1="276.191492" y1="274" x2="141" y2="313.284095" id="Path-13" stroke="#AAAAB4" stroke-width="1.15" stroke-dasharray="9.199999999999999" transform="translate(208.595746, 293.642048) scale(-1, 1) translate(-208.595746, -293.642048) "></line>
							<line x1="383.358088" y1="198.211885" x2="319" y2="73" id="Path-13" stroke="#AAAAB4" stroke-width="1.15" stroke-dasharray="9.199999999999999" transform="translate(351.179044, 135.605942) scale(-1, -1) translate(-351.179044, -135.605942) "></line>
							<g id="Group" transform="translate(693.000000, 202.500000) scale(1, -1) translate(-693.000000, -202.500000) translate(484.000000, 0.000000)">
								<g id="Oval" transform="translate(209.067336, 202.322065) rotate(-95.000000) translate(-209.067336, -202.322065) translate(23.067336, 9.322065)">
									<mask id="mask-16" fill="white">
										<use xlink:href="#path-15"></use>
									</mask>
									<use id="Mask" fill="#D8D8D8" opacity="0" transform="translate(185.724054, 192.544975) rotate(10.000000) translate(-185.724054, -192.544975) " xlink:href="#path-15"></use>
									<mask id="mask-18" fill="white">
										<use xlink:href="#path-17"></use>
									</mask>
									<use id="Mask" fill="#D8D8D8" opacity="0" transform="translate(139.643027, 158.609100) rotate(26.000000) translate(-139.643027, -158.609100) " xlink:href="#path-17"></use>
									<circle stroke="#00DFA8" stroke-width="39.1" mask="url(#mask-18)" cx="373" cy="-34.1" r="225.4"></circle>
								</g>
							</g>
							<line x1="762.191492" y1="274" x2="627" y2="313.284095" id="Path-13" stroke="#AAAAB4" stroke-width="1.15" stroke-dasharray="9.199999999999999"></line>
							<line x1="583.358088" y1="198.211885" x2="519" y2="73" id="Path-13" stroke="#AAAAB4" stroke-width="1.15" stroke-dasharray="9.199999999999999" transform="translate(551.179044, 135.605942) scale(1, -1) translate(-551.179044, -135.605942) "></line>
							<circle id="Oval" stroke="#D5D5E1" stroke-width="1.3225" opacity="0.193010603" cx="451.5" cy="370.3" r="281.75"></circle>
						</g>
						<g id="Group-4" transform="translate(131.000000, 154.000000)">
							<g id="Group-18" filter="url(#filter-19)" transform="translate(89.700000, 0.000000)">
								<circle id="Oval" fill="#FFFFFF" cx="23.529" cy="23.529" r="17.457"></circle>
								<circle id="Oval" stroke="#FFFFFF" stroke-width="0.759" opacity="0.444033668" cx="23.529" cy="23.529" r="23.529"></circle>
								<circle id="Oval" fill="#EC8008" cx="23.529" cy="23.529" r="6.831"></circle>
							</g>
							<text id="Educators" font-family="MrEavesXLModOT-Reg" font-size="20.7" font-weight="normal" letter-spacing="-0.796153867" fill="#2E2E2E">
								<tspan x="0.247584805" y="28.8">Educators</tspan>
							</text>
						</g>
						<g id="Group-4" transform="translate(634.000000, 154.000000)">
							<g id="Group-18" filter="url(#filter-20)">
								<circle id="Oval" fill="#FFFFFF" cx="23.529" cy="23.529" r="17.457"></circle>
								<circle id="Oval" stroke="#FFFFFF" stroke-width="0.759" opacity="0.444033668" cx="23.529" cy="23.529" r="23.529"></circle>
								<circle id="Oval" fill="#00DFA8" cx="23.529" cy="23.529" r="6.831"></circle>
							</g>
							<text id="Students" font-family="MrEavesXLModOT-Reg" font-size="20.7" font-weight="normal" letter-spacing="-0.796153867" fill="#2E2E2E">
								<tspan x="60.95" y="28.8">Students</tspan>
							</text>
						</g>
						<g id="Group-4" transform="translate(638.000000, 538.000000)">
							<g id="Group-18" filter="url(#filter-21)">
								<circle id="Oval" fill="#FFFFFF" cx="23.529" cy="23.529" r="17.457"></circle>
								<circle id="Oval" stroke="#FFFFFF" stroke-width="0.759" opacity="0.444033668" cx="23.529" cy="23.529" r="23.529"></circle>
								<circle id="Oval" fill="#EF315B" cx="23.529" cy="23.529" r="6.831"></circle>
							</g>
							<text id="Admin" font-family="MrEavesXLModOT-Reg" font-size="20.7" font-weight="normal" letter-spacing="-0.796153867" fill="#2E2E2E">
								<tspan x="60.95" y="28.8">Admin</tspan>
							</text>
						</g>
						<g id="Group-4" transform="translate(148.000000, 538.000000)">
							<g id="Group-18" filter="url(#filter-22)" transform="translate(70.150000, 0.000000)">
								<circle id="Oval" fill="#FFFFFF" cx="23.529" cy="23.529" r="17.457"></circle>
								<circle id="Oval" stroke="#FFFFFF" stroke-width="0.759" opacity="0.444033668" cx="23.529" cy="23.529" r="23.529"></circle>
								<circle id="Oval" fill="#1FABE4" cx="23.529" cy="23.529" r="6.831"></circle>
							</g>
							<text id="Parents" font-family="MrEavesXLModOT-Reg" font-size="20.7" font-weight="normal" letter-spacing="-0.796153867" fill="#2E2E2E">
								<tspan x="0.121177071" y="28.8">Parents</tspan>
							</text>
						</g>
					</g>
				</g>
			</g>
		</g>
	</svg>
</div>