<section id="features" class="features">
	<div class="features__bg">
		<picture class="hero__featured-image">
			{% include 'shared/media.twig' with {
				source: theme.link ~ '/src/assets/img/dev/pages/portfolio/features-bg.png',
				alt: 'Digital portfolios'
			}%}
		</picture>
	</div>
    <div class="features__wrapper">
        <div class="features__col features__col--one">
			<header>
				<h2>{{ post.get_field('features_title') }}</h2>
			</header>
			<ul>
				{% for item in post.get_field('features_list_left') %}
					<li>{{ item.list_text }}</li>
				{% endfor %}
			</ul>
        </div>
        <div class="features__col features__col--two">
			<ul>
				{% for item in post.get_field('features_list_right') %}
					<li>{{ item.list_text }}</li>
				{% endfor %}
			</ul>
        </div>
    </div>
</section>