<section id="hero" class="hero">
	<div class="hero__wrapper">
		<div class="hero__col hero__col--one">
			<div class="hero__col-wrapper">
				<header class="hero__heading">
					<div class="hero__decoration">
						{% include 'shared/media.twig' with {
							source: theme.link ~ '/src/assets/img/dev/pages/portfolio/student-decoration.svg',
							alt: 'bulb',
							class: 'hero__decoration--img',
						}%}
					</div>
					<h1 class="hero__title">{{ post.get_field('hero_title') }}</h1>
					{{ post.get_field('hero_content') }}
				</header>
			</div>
		</div>

		<div class="hero__col hero__col--two">
			<div class="hero__col-wrapper">
				<picture class="hero__featured-image">
					{% include 'shared/media.twig' with {
						source: post.get_field('hero_image').url,
						alt: post.get_field('hero_image').alt,
						class: 'hero__featured-img',
					}%}
				</picture>
			</div>
		</div>
	</div>
</section>
