.page--suggestions .suggestions-form {
	padding: rem-calc(40) 0;
	background: white;
	border-top: 10px solid $color-gray;

	@include media('>phone') {
		padding: rem-calc(60) 0;
	}
	
	&__wrapper {
		@extend %container;

		max-width: rem-calc(1080);

		@include media('>phone') {
			display: flex;
			justify-content: space-between;
		}
	}

	&__description {
		color: $color-primary;
		font-weight: 700;
		@include media('>phone') {
			width: 32%;
		}
	}

	&__fields {
		border: 3px solid $color-primary;
		padding: rem-calc(20) rem-calc(15);

		@include media('>phone') {
			width: 65%;
		}

		.frm_fields_container {
			display: block;
		}

		.frm_primary_label {
			display: block;
		}

		.frm_form_field {
			width: 100%;
	
			input {
				border-radius: 0;
				background: $color-gray;
			}

			select {
				margin: 0;
				width: 100%;
				appearance: none;
				background: $color-gray;
				border: 0;
				padding: rem-calc(7) rem-calc(10);
				border-radius: 0;
			}

			textarea {
				width: 100%;
				border: 0;
				padding: rem-calc(7) rem-calc(10);
				background: $color-gray;
			}
		}
	
		.frm_submit {
			margin: 0 auto;
			margin-top: rem-calc(15);

			button {
				width: 100%;
				font-size: rem-calc(18);
				text-transform: none;
				font-weight: 400;
				letter-spacing: unset;
				padding: rem-calc(15) rem-calc(20);
				text-align: center;
			}
		}
	}
}
